h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 300;
}

.home-brand-name {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 3.5rem;
	letter-spacing: -0.02em;
	text-align: center;
}
